---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import MainGallery from '../components/MainGallery.astro';
import Presentation from '../components/Presentation.astro';
import ExtraInfo from '../components/ExtraInfo.astro';
import ExtraGallery from '../components/ExtraGallery.astro';

const quote = '“ANDÁBAMOS SIN BUSCARNOS, PERO SABIENDO QUE ANDÁBAMOS PARA ENCONTRARNOS.”';
const author = 'J. Cortázar';

const name1 = 'Cinthya';
const name2 = 'Ricardo';
const text1 = 'Nos encantaría que formaras parte';
const text2 = 'de este día tan especial para nosotros.'
const month = 'Enero';
const day = '18';
const year = '2025';
const hour = '6:00 PM';
const address1 = 'CASA: CHAKÁ. CALLE 19A POR 22';
const address2 = 'DZYTIÁ, YUCATÁN.';

const dressCode1 = 'Código de vestimenta:';
const dressCode2 = 'Cóctel';
const dressCode3 = 'guayabera';
const dressCode4 = 'les pedimos llevar zapatos cómodos';
const dressCode5 = 'para mujeres sugerimos no llevar tacón de punta.';
const gift1 = 'Regalo de novios';
const gift2 = 'Gracias por su cariño, su apoyo y su presencia.';
const gift3 = 'contaremos con un buzón en la boda en el que podrán depositar este sobre con su regalo en efectivo.';
const gift4 = 'Por favor, no olviden añadir una tarjeta con sus deseos para nuestro matrimonio: ¡Será el mejor regalo!';
const confirmAssist1 = 'confirmación asistencia';
const confirmAssist2 = 'pueden enviar whatsapp al';
const confirmAssist3 = '9993 87 82 22';

const quote1 = '¡Los esperamos!';
const quote2 = '“LAS PALABRAS NUNCA ALCANZAN';
const quote3 = 'CUANDO LO QUE HAY QUE DECIR';
const quote4 = 'DESBORDA EL ALMA.”';

---

<Layout title="La boda de Cinthya y Ricardo">
	<main>
		<Hero></Hero>
		<MainGallery
			quote={quote}
			author={author}
			></MainGallery>
		<Presentation name1={name1} name2={name2}
			text1={text1} text2={text2} month={month}
			day={day} year={year} hour={hour}
			address1={address1} address2={address2}></Presentation>
		<ExtraInfo dressCode1={dressCode1} dressCode2={dressCode2}
			dressCode3={dressCode3} dressCode4={dressCode4}
			dressCode5={dressCode5} gift1={gift1}
			gift2={gift2} gift3={gift3} gift4={gift4}
			confirmAssist1={confirmAssist1}
			confirmAssist2={confirmAssist2}
			confirmAssist3={confirmAssist3}></ExtraInfo>
		<ExtraGallery quote1={quote1} quote2={quote2}
			quote3={quote3} quote4={quote4} author={author}></ExtraGallery>
	</main>
</Layout>