---
interface Props {
  dressCode1: string;
  dressCode2: string;
  dressCode3: string;
  dressCode4: string;
  dressCode5: string;
  gift1: string;
  gift2: string;
  gift3: string;
  gift4: string;
  confirmAssist1: string;
  confirmAssist2: string;
  confirmAssist3: string;
}

const { dressCode1, dressCode2, dressCode3, dressCode4, dressCode5, gift1, gift2, gift3, gift4, confirmAssist1, confirmAssist2, confirmAssist3 } = Astro.props;
---
<section>
  <div class="info">
    <div class="dressCode">
      <p class="dressCode1">{dressCode1} {dressCode2}</p>
      <p class="dressCode3">{dressCode3}</p>
      <p class="dressCode4">{dressCode4}</p>
      <p class="dressCode5">{dressCode5}</p>
    </div>
    <div class="separator"></div>
    <div class="gift">
      <p class="gift1">{gift1}</p>
      <p class="gift2">{gift2}</p>
      <p class="gift3">{gift3}</p>
      <p class="gift4">{gift4}</p>
    </div>
    <div class="separator"></div>
    <div class="confirmAssist">
      <p class="confirmAssist1">{confirmAssist1}</p>
      <p class="confirmAssist2">{confirmAssist2}</p>
      <p class="confirmAssist3">{confirmAssist3}</p>
    </div>
  </div>
  <img src="/extrainfo.avif" class="image">
  <img src="/leaves8.svg" class="leaves8">
  <img src="/leaves9.svg" class="leaves9">
  <img src="/leaves10.svg" class="leaves10">
  <img src="/leaves11.svg" class="leaves11">
  <img src="/leaves12.svg" class="leaves12">
</section>
<style>
  section {
    background-color: #EFEAE7;
    min-height: 800px;
    position: relative;
  }
  .info {
    padding: 0 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Tw Cen MT', sans-serif;
    letter-spacing: 5px;
    line-height: 40px;
  }
  .dressCode1 {
    position: relative;
    z-index: 1;
  }
  .dressCode3 {
    text-align: end;
    padding: 0 110px 50px 0;
    @media (width < 1100px) {
      padding: 0;
      text-align: center;
    }
  }
  .dressCode5, .gift4, .confirmAssist3 {
    padding-bottom: 30px;
  }
  .separator {
    border-bottom: 2px solid black;
    width: 80%;
    padding-bottom: 30px;
  }
  .image {
    width: 100%;
  }
  .leaves8 {
    position: absolute;
    width: 80px;
    left: 0;
    top: 0;
    @media (width < 900px) {
      width: 7%;
    }
  }
  .leaves9 {
    position: absolute;
    width: 200px;
    left: 0;
    top: 180px;
    @media (width < 900px) {
      width: 15%;
    }
  }
  .leaves10 {
    position: absolute;
    height: 250px;
    left: 0;
    bottom: 4px;
    @media (width < 900px) {
      height: 100px;
    }
  }
  .leaves11 {
    position: absolute;
    width: 250px;
    right: 0;
    bottom: 200px;
    @media (width < 900px) {
      width: 25%;
    }
  }
  .leaves12 {
    position: absolute;
    height: 250px;
    right: 0;
    top: -5px;
    @media (width < 900px) {
      height: 10%;
    }
  }
</style>