---
interface Props {
  name1: string;
  name2: string;
  text1: string;
  text2: string;
  month: string;
  day: string;
  year: string;
  hour: string;
  address1: string;
  address2: string;
}

const { name1, name2, text1, text2, month, day, year, hour, address1, address2 } = Astro.props;
---
<section>
  <div class="info">
    <div class="names">
      <p class="name">{name1}</p>
      <p class="name">&</p>
      <p class="name">{name2}</p>
    </div>
    <div class="text">
      <p class="text1">{text1}</p>
      <p class="text2">{text2}</p>
    </div>
    <div class="date">
      <p class="month">{month}</p>
      <p class="day">{day}</p>
      <p class="year">{year}</p>
    </div>
    <p class="hour">Recepción al evento: {hour}</p>
    <p class="address1">{address1}</p>
    <p class="address2">{address2}</p>
  </div>
  <img src="gallery2.avif" class="image">
</section>
<style>
  section {
    background-color: #EFEAE7;
    min-height: 800px;
  }
  .info {
    padding: 0 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  .names {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
		font-family: 'Tw Cen MT', sans-serif;
  }
  .name {
    font-size: 50px;
    margin: 15px 0;
  }
  .hour {

  }
  .image {
    width: 100%;
  }
</style>